body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: rgb(65, 57, 57);
  color: white;
  font-family: "Montserrat", serif;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em;
  text-align: center;
}
/*both of these require the exact same styling so theres no point in splitting them*/
.scores,
.settingsInputs {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1em;
  margin-bottom: 2em;
  text-align: center;
}
/*puts gamestate on its own line for clarity*/
.scores .gameState {
  flex-basis: 100%;
  width: 100%;
  justify-self: center;
}
/*the start and strict buttons*/
.settingsInputs button {
  height: 3em;
  width: 6em;
  cursor: pointer;
}

/*container for colored buttons, 2x2 grid*/
.buttonGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 30em;
  height: 30em;
  gap: 1em;
  margin-bottom: 2em;
}

/*universal style for the colored game buttons*/
.buttonGrid button {
  display: grid;
  place-items: center;
  width: 100%; /*adjusts perfectly without breaking. Maybe add a scale feature for accessibility, could be neat. */
  height: 100%;
  border-style: solid;
  border-width: 0.5em;
  cursor: pointer;
}

#game-green {
  background-color: #0f0;
  border-top-left-radius: 100%;
}

#game-red {
  background-color: #f00;
  border-top-right-radius: 100%;
}

#game-blue {
  background-color: #00f;
  border-bottom-left-radius: 100%;
}

#game-yellow {
  background-color: #ff0;
  border-bottom-right-radius: 100%;
}

/* does an animation where the button darkens a bit when it is called */
.glow {
  animation: glow-animation 0.5s ease-in-out;
}

@keyframes glow-animation {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}
